<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
        <link href="/css/signup.css" type = "text/css" rel="stylesheet">
        <title>Main</title>
    </head>
<body>
<script>

    someCookie = document.cookie;
    var arrayOfCookie = someCookie.split(";");
    var authCookies = ""
    arrayOfCookie.forEach(function(item, i, arr) {
      if (item.includes("token")) {
        authCookies = item;
      } 
    });
    if (authCookies.length < 1) {
      window.location.replace('/auth/sign-in');
    }
    authToken = authCookies.slice(authCookies.indexOf("=") + 1);
    
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/api/lists/', false);
    xhr.setRequestHeader('Authorization', 'Bearer ' + authToken);
    xhr.send();
    response = JSON.parse(xhr.responseText);

    let value = 
    `<div class="my-3 p-3 bg-body rounded shadow-sm" style="width: 100%">
      <h6 class="border-bottom pb-2 mb-0" style="border-bottom: 1px solid #dee2e6!important;">Списки задач</h6>
      `;
    response.data.forEach(function(item) {
          value += `
  <div style="border-bottom: 1px solid #dee2e6!important;">
    <div class="d-flex text-muted pt-3" style="width: 100%;  padding-bottom: 10px;">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <p class="pb-3 mb-0 small lh-sm" style="width: 100%">
        <strong class="d-block text-gray-dark ">${item.title}</strong>
              ${item.description}
      </p>
      <button id="${item.id}" class="btn addNewItemButton"><i class="fa fa-plus" aria-hidden="true"></i></button>
      <button id="${item.id}" class="btn showButton"><i class="showIcon fa fa-chevron-down" aria-hidden="true"></i></button>
      <button id="${item.id}" class="btn editListButton"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      <button id="${item.id}" class="btn deleteListButton"><i class="fa fa-trash"></i></button>
    </div>
    <div>
      <ul class="list-group itemPlace">
  
      </ul> 
    </div>
  </div>
    `;
    });
    value += `<br>
      
      <button class="btn btn-success" id="modalButton"><i class="fa fa-plus" aria-hidden="true"></i> Добавить список задач</button>
      
      <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" style="box-shadow: 2px 2px 21px black;">
            <div class="modal-header">
              <h5 class="modal-title">Добавление нового списка задач</h5>
              <button id="closeButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <form id="formElem" class="needs-validation" novalidate>
          
              <div class="form-floating" style="padding-top: 30px; padding-right: 10px; padding-left: 10px;">
                <input type="text" class="form-control" name="title" required>
                <label for="floatingTitle">Название списка задач</label>
                <div class="invalid-feedback">
                Введите название списка задач
                </div> 
              </div>
              <br>

              <div class="form-floating" style="padding-top: 30px; padding-right: 10px; padding-left: 10px;">
                <input type="text" class="form-control" name="description">
                <label for="floatingDescription">Описание списка задач</label>
              </div>
              <br>
              <div class="modal-footer">
                <button id="closeButton2" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button id="addButton" type="submit" class="btn btn-success">Создать список задач</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal" id="confirmationModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" style="box-shadow: 2px 2px 21px black;">
            <div class="modal-header">
              <h5 class="modal-title">Вы действитьльно хотите удалить список задач?</h5>
              <button id="closeConfirm" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            

            <div class="modal-footer">
              <button id="closeConfirm2" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
              <button id="confirmDelete" type="submit" class="btn btn-danger">Удалить</button>
            </div>

          </div>
        </div>
      </div>

      <div class="modal" id="editModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" style="box-shadow: 2px 2px 21px black;">
            <div class="modal-header">
              <h5 class="modal-title">Редактирование списка задач</h5>
              <button id="editCloseButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <form id="editFormElem" class="needs-validation" novalidate>
          
              <div class="form-floating" style="padding-top: 30px; padding-right: 10px; padding-left: 10px;">
                <input type="text" class="form-control" name="title" required>
                <label for="floatingTitle">Название списка задач</label>
                <div class="invalid-feedback">
                Введите новое название списка задач
                </div> 
              </div>
              <br>

              <div class="form-floating" style="padding-top: 30px; padding-right: 10px; padding-left: 10px;">
                <input type="text" class="form-control" name="description">
                <label for="floatingDescription">Описание списка задач</label>
              </div>
              <br>
              <div class="modal-footer">
                <button id="editCloseButton2" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button id="editButton" type="submit" class="btn btn-success">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal" id="newItemModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" style="box-shadow: 2px 2px 21px black;">
            <div class="modal-header">
              <h5 class="modal-title">Новая задача</h5>
              <button id="newItemCloseButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <form id="newItemFormElem" class="needs-validation" novalidate>
          
              <div class="form-floating" style="padding-top: 30px; padding-right: 10px; padding-left: 10px;">
                <input type="text" class="form-control" name="title" required>
                <label for="floatingTitle">Название задачи</label>
                <div class="invalid-feedback">
                Введите название задачи
                </div> 
              </div>
              <br>

              <div class="form-floating" style="padding-top: 30px; padding-right: 10px; padding-left: 10px;">
                <input type="text" class="form-control" name="description">
                <label for="floatingDescription">Описание задачи</label>
              </div>
              <br>

              <div class="form-floating" style="padding-top: 30px; padding-right: 10px; padding-left: 10px;">
                <input type="datetime-local" class="form-control" name="deadline" value="2001-01-01T00:00">
                <label for="floatingDeadline">Срок выполнения задачи</label>
              </div>
              <br>
              
              <div class="modal-footer">
                <button id="newItemCloseButton2" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button id="newItemButton" type="submit" class="btn btn-success">Создать задачу</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal" id="deleteItemModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" style="box-shadow: 2px 2px 21px black;">
            <div class="modal-header">
              <h5 class="modal-title">Вы действитьльно хотите удалить задачу?</h5>
              <button id="closeDeleteItem" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            

            <div class="modal-footer">
              <button id="closeDeleteItem2" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
              <button id="confirmDeleteItem" type="submit" class="btn btn-danger">Удалить</button>
            </div>

          </div>
        </div>
      </div>

      <div class="modal" id="editItemModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" style="box-shadow: 2px 2px 21px black;">
            <div class="modal-header">
              <h5 class="modal-title">Редактирование задачи</h5>
              <button id="editItemCloseButton" type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <form id="editItemFormElem" class="needs-validation" novalidate>
          
              <div class="form-floating" style="padding-top: 30px; padding-right: 10px; padding-left: 10px;">
                <input type="text" class="form-control" name="title" required>
                <label for="floatingTitle">Название задачи</label>
                <div class="invalid-feedback">
                Введите новое название задачи
                </div> 
              </div>
              <br>

              <div class="form-floating" style="padding-top: 30px; padding-right: 10px; padding-left: 10px;">
                <input type="text" class="form-control" name="description">
                <label for="floatingDescription">Описание задачи</label>
              </div>
              <br>

              <div class="form-floating" style="padding-top: 30px; padding-right: 10px; padding-left: 10px;">
                <input type="datetime-local" class="form-control" name="deadline" value="2001-01-01T00:00">
                <label for="floatingDeadline">Срок выполнения задачи</label>
              </div>
              <br>

              <div class="modal-footer">
                <button id="editItemCloseButton2" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button id="editItemButton" type="submit" class="btn btn-success">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal" id="newTagModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content" style="box-shadow: 2px 2px 21px black;">
            <div class="modal-header">
              <h5 class="modal-title">Добавить тэг</h5>
              <button id="newTagCloseButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <form id="newTagFormElem" class="needs-validation" novalidate>
          
              <div class="form-floating" style="padding-top: 30px; padding-right: 10px; padding-left: 10px;">
                <input type="text" class="form-control" name="title" required>
                <label for="floatingTitle">Название тега</label>
                <div class="invalid-feedback">
                Введите название тега
                </div> 
              </div>
              <br>
              
              <div class="modal-footer">
                <button id="newTagCloseButton2" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button id="newTagButton" type="submit" class="btn btn-success">Добавить тег</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    
    `
    document.body.innerHTML += value;
    
    let arrOfShowButtons = document.getElementsByClassName("showButton");
    let arrOfItemPlaces = document.getElementsByClassName("itemPlace");
    let arrOfItemIcons = document.getElementsByClassName("showIcon");
    let addNewItemButtons = document.getElementsByClassName("addNewItemButton");
    let arrOfDeleteButtons = document.getElementsByClassName("deleteListButton");
    
    let deleteItemModal = document.getElementById('deleteItemModal');
    let confirmDeleteItem = document.getElementById('confirmDeleteItem');
    let closeDeleteItem = document.getElementById('closeDeleteItem');
    let closeDeleteItem2 = document.getElementById('closeDeleteItem2');

    let editItemModal = document.getElementById('editItemModal');
    let editItemCloseButton = document.getElementById('editItemCloseButton');
    let editItemCloseButton2 = document.getElementById('editItemCloseButton2');
    let editItemButton = document.getElementById('editItemButton');

    let newTagModal = document.getElementById('newTagModal');
    let newTagCloseButton = document.getElementById('newTagCloseButton');
    let newTagCloseButton2 = document.getElementById('newTagCloseButton2');
    let newTagButton = document.getElementById('newTagButton');
        
    let arrOfItems = new Array();
    for (let i = 0; i < arrOfShowButtons.length; i ++) {
      arrOfItems[i] = false;
    }
    
    for (let i = 0; i < arrOfShowButtons.length; i ++) {
      arrOfShowButtons[i].addEventListener('click', function() {
        if (!arrOfItems[i]) {
          var xhr = new XMLHttpRequest();
          endpoint = '/api/lists/'+ arrOfShowButtons[i].id + '/items';
          xhr.open('GET', endpoint, false);
          xhr.setRequestHeader('Authorization', 'Bearer ' + authToken);
          xhr.send();
          itemsResponse = JSON.parse(xhr.responseText);
          let itemList = ``;
          if (itemsResponse.data != null) {
            itemsResponse.data.forEach(function(item) {
            itemList += `
            <li class="list-group-item">
              <input class="form-check-input" type="checkbox" value="">
              ${item.title}   ${item.description}  ${item.deadline}
              <button id="${item.id}" class="btn newTagButton"><i class="fa fa-tags"></i></button>
              <button id="${item.id}" class="btn editItemButton"><i class="fa fa-pencil"></i></button>
              <button id="${item.id}" class="btn deleteItemButton"><i class="fa fa-trash"></i></button>
              </li>
            ` 
            }); 
          };
          
          arrOfItemPlaces[i].innerHTML += itemList;
          arrOfItems[i] = true;
          arrOfItemIcons[i].classList.toggle('fa-chevron-up');
          arrOfItemIcons[i].classList.toggle('fa-chevron-down');

          closeDeleteItem.onclick = function() {
            deleteItemModal.style.display = "none";
          };
          closeDeleteItem2.onclick = function() {
            deleteItemModal.style.display = "none";
          };

          editItemCloseButton.onclick = function() {
            editItemModal.style.display = "none";
          };
          editItemCloseButton2.onclick = function() {
            editItemModal.style.display = "none";
          };

          newTagCloseButton.onclick = function() {
            newTagModal.style.display = "none";
          };
          newTagCloseButton2.onclick = function() {
            newTagModal.style.display = "none";
          };
        
          let arrOfEditItemsButtons = document.getElementsByClassName("editItemButton");
          for (let i = 0; i < arrOfEditItemsButtons.length; i ++) {
            arrOfEditItemsButtons[i].addEventListener('click', function() {
              
              editItemModal.style.display = "block";

              editItemFormElem.onsubmit = async (e) => {
                e.preventDefault();
            
                var dataFromForm = new FormData(editItemFormElem);
                var object = {};
                dataFromForm.forEach((value, key) => object[key] = value);
                object['deadline'] += ':00Z';
                var json = JSON.stringify(object);

                var xhr = new XMLHttpRequest();
                endpoint = '/api/items/'+ arrOfEditItemsButtons[i].id;
                xhr.open('PUT', endpoint, false);
                xhr.setRequestHeader('Authorization', 'Bearer ' + authToken);
                console.log(json);
                xhr.send(json);
                console.log(xhr.status);
                console.log(xhr.responseText);
                if (xhr.status != 200) {
                  if (xhr.status == 500) {
                    alert("Пожалуйста, введите название задачи"); 
                  }
                  console.log(xhr.responseText);         
                } else {
                  window.location.replace('../user_lists');
                }
              } 
            })
          };

          let arrOfDeleteItemsButtons = document.getElementsByClassName("deleteItemButton");
          for (let i = 0; i < arrOfDeleteItemsButtons.length; i ++) {
            arrOfDeleteItemsButtons[i].addEventListener('click', function() {

              deleteItemModal.style.display = "block";

              confirmDeleteItem.onclick = function() {

                deleteItemModal.style.display = "none";

                var xhr = new XMLHttpRequest();
                endpoint = '/api/items/'+ arrOfDeleteItemsButtons[i].id;
                xhr.open('DELETE', endpoint, false);
                xhr.setRequestHeader('Authorization', 'Bearer ' + authToken);
                xhr.send();
                if (xhr.status != 200) {
                  alert("Не получилось удалить список");
                } else {
                  window.location.replace('../user_lists');
                }
              };
            })
          };

          let arrOfNewTagButtons = document.getElementsByClassName("newTagButton");
          for (let i = 0; i < arrOfEditItemsButtons.length; i ++) {
            arrOfNewTagButtons[i].addEventListener('click', function() {
              newTagModal.style.display = "block";
              newTagFormElem.onsubmit = async (e) => {
                e.preventDefault();
            
                var dataFromForm = new FormData(newTagFormElem);
                var object = {};
                dataFromForm.forEach((value, key) => object[key] = value);
                var json = JSON.stringify(object);

                var xhr = new XMLHttpRequest();
                endpoint = '/api/items/'+ arrOfNewTagButtons[i].id + '/tags/';
                xhr.open('POST', endpoint, false);
                xhr.setRequestHeader('Authorization', 'Bearer ' + authToken);
                xhr.send(json);
                if (xhr.status != 200) {
                  if (xhr.status == 500) {
                    alert("Пожалуйста, введите название задачи"); 
                  }
                  console.log(xhr.responseText);         
                } else {
                  window.location.replace('../user_lists');
                }
              }
            })
          }
        } else {
          arrOfItemPlaces[i].classList.toggle('collapse');
          arrOfItemIcons[i].classList.toggle('fa-chevron-down');
          arrOfItemIcons[i].classList.toggle('fa-chevron-up');
          
        }
      })
    };


    
    
    
    let callButton = document.getElementById('modalButton');
    let myModal = document.getElementById('myModal');
    let closeButton = document.getElementById('closeButton');
    let closeButton2 = document.getElementById('closeButton2');
    let addButton = document.getElementById('addButton');
    
    let confirmationModal = document.getElementById('confirmationModal');
    let confirmDelete = document.getElementById('confirmDelete');
    let closeConfirm = document.getElementById('closeConfirm');
    let closeConfirm2 = document.getElementById('closeConfirm2');
    
    let editModal = document.getElementById('editModal');
    let editCloseButton = document.getElementById('editCloseButton');
    let editCloseButton2 = document.getElementById('editCloseButton2');
    let editButton = document.getElementById('editButton');
    
    
    let newItemModal = document.getElementById('newItemModal');
    let newItemButton = document.getElementById('newItemButton');
    let newItemCloseButton = document.getElementById('newItemCloseButton');
    let newItemCloseButton2 = document.getElementById('newItemCloseButton2');

    callButton.onclick = function() {
      myModal.style.display = "block";
    };
    closeButton.onclick = function() {
      myModal.style.display = "none";
    };
    closeButton2.onclick = function() {
      myModal.style.display = "none";
    };
    closeConfirm.onclick = function() {
      confirmationModal.style.display = "none";
    };
    closeConfirm2.onclick = function() {
      confirmationModal.style.display = "none";
    };
    editCloseButton.onclick = function() {
      editModal.style.display = "none";
    };
    editCloseButton2.onclick = function() {
      editModal.style.display = "none";
    };
    newItemCloseButton.onclick = function() {
      newItemModal.style.display = "none";
    };
    newItemCloseButton2.onclick = function() {
      newItemModal.style.display = "none";
    };

    for (let i = 0; i < addNewItemButtons.length; i ++) {
      addNewItemButtons[i].addEventListener('click', function() {
        newItemModal.style.display = "block";
        
        newItemFormElem.onsubmit = async (e) => {
          e.preventDefault();
      
          var dataFromForm = new FormData(newItemFormElem);
          var object = {};
          dataFromForm.forEach((value, key) => object[key] = value);
          object['deadline'] += ':00Z';
          console.log(object['deadline']);
          var json = JSON.stringify(object);

          var xhr = new XMLHttpRequest();
          endpoint = '/api/lists/'+ addNewItemButtons[i].id + '/items/';
          xhr.open('POST', endpoint, false);
          xhr.setRequestHeader('Authorization', 'Bearer ' + authToken);
          console.log(json);
          xhr.send(json);
          console.log(xhr.status);
          console.log(xhr.responseText);
          if (xhr.status != 200) {
            if (xhr.status == 400) {
              alert("Пожалуйста, введите название задачи"); 
            }
            console.log(xhr.responseText);         
          } else {
            window.location.replace('../user_lists');
          }
        } 
      })
    }

    for (let i = 0; i < arrOfDeleteButtons.length; i ++) {
      arrOfDeleteButtons[i].addEventListener('click', function() {

        confirmationModal.style.display = "block";

        confirmDelete.onclick = function() {
          confirmationModal.style.display = "none";
          var xhr = new XMLHttpRequest();
          endpoint = '/api/lists/'+ arrOfDeleteButtons[i].id;
          console.log(endpoint);
          xhr.open('DELETE', endpoint, false);
          xhr.setRequestHeader('Authorization', 'Bearer ' + authToken);
          xhr.send();
          if (xhr.status != 200) {
            alert("Не получилось удалить список");
          } else {
            window.location.replace('../user_lists');
          }
        };
      })
    };

    

    let arrOfEditButtons = document.getElementsByClassName("editListButton");
    for (let i = 0; i < arrOfEditButtons.length; i ++) {
      arrOfEditButtons[i].addEventListener('click', function() {

        editModal.style.display = "block";

        (function () {
          'use strict'

          let forms = document.querySelectorAll('.needs-validation');

          Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated')}, false);
          })
        })()

        editFormElem.onsubmit = async (e) => {
          e.preventDefault();
      
          var dataFromForm = new FormData(editFormElem);
          var object = {};
          dataFromForm.forEach((value, key) => object[key] = value);
          var json = JSON.stringify(object);
          
          var xhr = new XMLHttpRequest();
          endpoint = '/api/lists/'+ arrOfEditButtons[i].id;
          xhr.open('PUT', endpoint, false);
          xhr.setRequestHeader('Authorization', 'Bearer ' + authToken);
          console.log(json);
          xhr.send(json);
          console.log(xhr.status);
          console.log(xhr.responseText);
          if (xhr.status != 200) {
            if (xhr.status == 500) {
              alert("Пожалуйста, введите новое название списка"); 
            }
            console.log(xhr.responseText);         
          } else {
            window.location.replace('../user_lists');
          }
        }
      })
    };

    (function () {
      'use strict'

      let forms = document.querySelectorAll('.needs-validation');

      Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated')}, false)
      })
    })()

    formElem.onsubmit = async (e) => {
        e.preventDefault();
    
        var dataFromForm = new FormData(formElem);
        var object = {};
        dataFromForm.forEach((value, key) => object[key] = value);
        var json = JSON.stringify(object);
        
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/lists/', false);
        xhr.setRequestHeader('Authorization', 'Bearer ' + authToken);
        xhr.send(json);
        if (xhr.status != 200) {
          if (xhr.status == 400) {
            if (xhr.responseText.includes("Key")) {
              alert("Пожалуйста, введите название списка");
            } 
          }
          console.log(xhr.responseText);         
        } else {
          window.location.replace('../user_lists');
        }
        
    }


    
    


</script>
    
</body>
</html>